body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 5px;
  padding: 4px 8px;
  margin: 4px 4px 4px 0;
  border: 2px solid black;
  font-weight: bold;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background: black;
  color: white;
}

.App {
  text-align: left;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: hidden;
}

.ImportOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}

.NoDataView {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  padding: 8px;
  text-align: center;
  background-color: darkgrey;
  color: #3c3c3c;
  opacity: 0.5;
}

.HoverHighlight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 4em;
  text-align: center;
  background-color: darkgrey;
  color: #3c3c3c;
  opacity: 0.5;
}

.dragging {
  opacity: 0.8;
}

.Content {
  display: flex;
  flex: 1;
}

.with-margin {
  padding: 0 16px;
  overflow-y: auto;
  overflow-x: hidden;
}

.with-margin > span {
  padding-bottom: 16px;
}

.Sidebar {
  padding: 8px 8px 8px 0;
  display: flex;
  flex-direction: column;
}

.SidebarButton {
  margin: 8px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border-width: 4px;
  font-size: 0.84em;
  box-shadow: 10px 10px 15px silver;
}

.SidebarButton.disabled,
.SidebarButton.disabled:hover {
  background: none;
  border-color: rgb(143, 143, 143);
  color: rgb(143, 143, 143);
  cursor: default;
}

.cell.read-only {
  width: 250px;
  word-break: break-all;
}

.cell {
  width: 500px;
}

.cell,
.data-editor {
  text-align: left !important;
}
