body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: left;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: hidden;
}

.ImportOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}

.NoDataView {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  padding: 8px;
  text-align: center;
  background-color: darkgrey;
  color: #3c3c3c;
  opacity: 0.5;
}

.FileTypes {
  padding-top: 32px;
  font-size: 2rem;
  text-align: left;
}

.FileTypes > ul {
  font-size: 1.4rem;
  margin-top: 4px
}

.HoverHighlight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 4em;
  text-align: center;
  background-color: darkgrey;
  color: #3c3c3c;
  opacity: 0.5;
}

.dragging {
  opacity: 0.8;
}

.Content {
  display: flex;
  flex: 1;
}

.with-margin {
  padding: 0 16px;
  overflow-y: auto;
  overflow-x: hidden;
}

.with-margin > span {
  padding-bottom: 16px;
}

.Sidebar {
  padding: 8px 8px 8px 0;
  display: flex;
  flex-direction: column;
}

.IconButton {
  width: 50px;
  padding: 4px 0 1px 0;
  margin: 4px;
  background: none;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 5px;
  box-shadow: 4px 4px 7px silver;
}

.IconButtonLarge {
  margin: 8px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px silver;
}

.IconButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.ButtonRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 8px;
}

.ExportButtonRow {
  padding-right: 8px;
  display: flex;
  flex: 1;
}

.ActionButtonRow {
  padding-left: 8px;
  display: flex;
  justify-content: flex-end;
  flex: 1;
}


.Dialog {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.DialogWindow {
  background-color: #fefefe;
  border-radius: 10px;
  margin: 10% auto;
  border: 1px solid #888;
  width: 600px;
}

.DialogTop {
  display: flex;
  justify-content: space-between;
}

.DialogTitle {
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}

.DialogContent {
  padding: 20px;
  width: 80%;
}

.CloseButton {
  font-size: 28px;
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 5px;
  font-weight: bold;
}

.CloseButton:hover,
.CloseButton:focus {
  color: tomato;
  text-decoration: none;
  cursor: pointer;
}

.cell.read-only {
  width: 250px;
  word-break: break-all;
}

.cell {
  width: 500px;
}

.cell,
.data-editor {
  text-align: left !important;
}

.data-grid > thead > tr > th:nth-child(3),
.data-grid > tbody > tr > td:nth-child(3) {
  border-right: 4px solid black !important;
}

.data-grid.withoutDescription > thead > tr > th:nth-child(2),
.data-grid.withoutDescription > tbody > tr > td:nth-child(2) {
  display: none;
}

.data-grid > thead > tr > th,
.data-grid > tbody > tr > td {
  padding-left: 4px !important;
}

.description.cell {
  width: 250px;
}